<% if form.errors.any? %>
  <div class="schoolgirl-uniform-errors">
    <ul>
      <% form.errors.full_messages.each do |message|%>
        <li>
          <span><%= message %> </span>
        </li>
      <%end%>
    </ul>
  </div>
<%end%>
