<div class="schoolgirl-uniform-step-wizard">
  <% form.steps.each_with_index do |step, index| %>
    <div class="milestone <%= 'active' if form.current_step_index >= index %>">
      <span><%= form.step_names[step.to_sym] || step %></span>
    </div>
  <% end %>
</div>